* {
    margin: 0;
    padding: 0;
}

.img {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.child {
    background-image: url(./background.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.box {
    height: 500px;
    width: 400px;
    border: solid 2px white;
    position: absolute;
    top: 200px ;
    margin-left: 150px;
    overflow: scroll;
    background-color: rgba(255, 255, 255, 0.527);
    color: black;
    overflow-x: hidden;
}

.img2 {
    height: 250px;
    width: 400px;
}


h2 {
    color: white;
    font-size: 20px;
}


button {
    position: absolute;
    top: 10px;
    left: 300px;
    padding: 5px;
    background-color: white;
    border: none;
}

.box:hover{
    background-color: #000000;
}

button:hover{
    background-color: #000000
}
.b2 {
    position: absolute;
    top:  1320px;
    left: 5px;
    height: 30px;
    width: 100px;
    background-color: #de8e0c;
    border: none;
}


/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black;
    background-color: transparent;
    border-radius: 10px;
  }


  